<%= form.inputs do %>
  <%= form.input :name %>
  <%= form.input :postal_address %>

  <%= form.inputs 'Phone numbers' do %>
    <% form.object.phone_numbers.each do |phone_number| %>
      <%= semantic_fields_for 'contact[phone_numbers_attributes][]', phone_number, :index => nil do |form| %>
        <div class="phone-group">
          <%= render 'phone_numbers/form', :form => form %>
          <% unless form.object.new_record? %>
            <li class="boolean input optional destroy">
              <label><input name="contact[phone_numbers_attributes][][_destroy]" type="checkbox" value="1"> Delete</label>
            </li>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <%= semantic_fields_for 'contact[phone_numbers_attributes][]', PhoneNumber.new, :index => nil do |form| %>
      <div class="phone-group blank">
        <%= render 'phone_numbers/form', :form => form %>
      </div>
    <% end %>
  <% end %>

  <%= form.input :email_address %>
  <%= form.input :website_url %>
  <%= form.input :opening_hours %>

  <div class="format-controls">
    <li><%= link_to 'Cancel', form.object.new_record? ? contacts_path : contact_path(form.object), :class => 'button' %></li>
    <li><%= form.submit "#{form.object.new_record? ? 'Create' : 'Update'} Contact", :class => form.object.new_record? ? 'create' : 'update' %></li>
  </div>
<% end %>

<%= javascript_tag do %>
  $(function () {
    var blankPhoneNumber = $('.phone-group.blank');
    var button = $('<a>', {
      text:   'Add new phone number',
      class:  'button',
      click:  function () {
        blankPhoneNumber.clone().removeClass('blank').insertBefore(button).slideDown();
      }
    });

    blankPhoneNumber.hide();
    button.insertBefore(blankPhoneNumber);

    $('.phone-group .destroy').each(function () {
      var checkbox = $(this).find('input:checkbox');
      var button = $('<a>', {
        text:   'Delete',
        class:  'button delete-item',
        click:  function () {
          checkbox.prop('checked', !checkbox.prop('checked')).change();
        }
      });

      checkbox.change(function () {
        var deleted = checkbox.prop('checked');

        checkbox.closest('.phone-group')
          [deleted ? 'addClass' : 'removeClass']('deleted', 'normal')
          .find('.button.delete-item')
          .text(deleted ? 'Undo' : 'Delete');
      });

      $(this).hide();
      button.insertAfter(this);
    });
  });
<% end %>
