<h1>Showing contact “<%= @contact.name %>”</h1>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Postal address:</strong>
  <%= @contact.postal_address %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @contact.email_address %>
</p>

<p>
  <strong>Website URL:</strong>
  <%= @contact.website_url %>
</p>

<p>
  <strong>Opening hours:</strong>
  <%= @contact.opening_hours %>
</p>
