<h1><%= @contact.name %></h1>

<dl>

  <dt>Name:</dt>
  <dd><%= @contact.name %></dd>

  <dt>Postal address:</dt>
  <dd><%= @contact.postal_address %></dd>

  <%= render @contact.phone_numbers %>

  <dt>Email address:</dt>
  <dd><%= @contact.email_address %></dd>
  
  <dt>Website URL:</dt>
  <dd><%= @contact.website_url %></dd>

  <dt>Opening hours:</dt>
  <dd><%= @contact.opening_hours %></dd>
    
</dl>

<div class="format-controls">
  
  <ul>
    <li>
      <%= link_to 'Edit contact', edit_contact_path, :class => 'button' %>
    </li>
  </ul>
  
</div>