<!DOCTYPE html>
<html>
<head>
  <title>Contact-o-tron</title>
  <%= stylesheet_link_tag '/stylesheets/formtastic.css', '/stylesheets/formtastic_changes.css' %>
  <%= javascript_include_tag "application" %>
  <meta name="x-section-name" content="Contact-o-tron" />
  <meta name="x-section-link" content="contact-o-tron" />
  <%= csrf_meta_tags %>
</head>
<body>
  
  <h1 id="site-title">Contact-o-tron</h1>
  
  <div id="wrapper" class="wrapper">
    
    <nav class="admin-nav group" role="navigation">
    	<ul>
        <li><%= link_to 'All contacts'.html_safe, contacts_path %></li>
    	</ul>
    </nav>
    
    <div class="content" role="main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
